#table-transaction-preview {
  width: 4%;
  text-align: left;
}
#table-transaction-transaction-hash {
  width: 11%;
  text-align: center;
}
#table-transaction-method {
  width: 6%;
  text-align: center;
}
#table-transaction-block {
  width: 7%;
  text-align: center;
}
#table-transaction-transaction-age {
  width: 10%;
  text-align: center;
}
#table-transaction-from {
  width: 15%;
  text-align: center;
}
#table-transaction-to {
  width: 15%;
  text-align: center;
}
#table-transaction-amount {
  width: 17%;
  text-align: center;
}
#table-transaction-transaction-fee {
  text-align: right;
  width: 9%;
}
