.Mainpage {
  text-align: center;
  font-family: "Inter";
  height: 100%;
  width: 100%;
}

.Mainpage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  color: white;
}

.logo {
  font-size: 4rem;
  font-weight: bold;
  width: 20%;
  text-align: left;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 9rem;
  padding: 0; /* Ensure no padding on the nav-links */
  width: 80%;
}

.nav-links li {
  font-size: 2rem;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
  list-style: none;
  position: relative; /* Enable positioning for dropdown */
}

.dropdown {
  display: none;
  position: absolute;
  list-style: none;
  top: 100%; /* Align the dropdown below the li element */
  left: 0; /* Align the dropdown with the left edge of the li element */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  border-radius: 0.25rem; /* Rounded corners */
}

.nav-item:hover .dropdown {
  display: block;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-section {
  width: 35%;
  padding: 2rem;
  color: white;
  text-align: left;
}

.right-section {
  width: 65%;
  padding: 2rem;
  color: white;
  /* Add any styles for the right section */
}

.welcome-section {
  color: white;
  margin-left: 15px;
  font-size: 45px;
}

.brand-name {
  font-weight: bold;
}
