#table-account-details-preview {
  width: 4%;
  text-align: left;
}
#table-account-details-transaction-hash {
  width: 13%; /* Adjust percentage as needed */
  text-align: center;
}
#table-account-details-method {
  width: 6%; /* Adjust percentage as needed */
  text-align: center;
}
#table-account-details-block {
  width: 7%; /* Adjust percentage as needed */
  text-align: center;
}
#table-account-details-transaction-age {
  width: 10%; /* Adjust percentage as needed */
  text-align: center;
}
#table-account-details-from {
  width: 10%; /* Adjust percentage as needed */
  text-align: center;
}
#table-account-details-to {
  width: 17%; /* Adjust percentage as needed */
  text-align: center;
}
#table-account-details-amount {
  width: 13%; /* Adjust percentage as needed */
  text-align: center;
}
#table-account-details-transaction-fee {
  width: 9%; /* Adjust percentage as needed */
  text-align: center;
}
#account-address {
  font-size: larger;
}

.clickable:hover {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444;
}

th {
  font-weight: bold;
  text-align: center;
}

.info-title {
  font-size: 18px;
  padding: 15px 10px;
}

tbody tr:last-child td {
  border-bottom: none;
}
