.nfts-container {
  padding: 20px;
  background-color: #1c1c2b;
}

.nft-table {
  width: 100%;
  border-collapse: collapse;
}

.nft-table th,
.nft-table td {
  padding: 10px;
  border: 1px solid #333;
  text-align: left;
  color: #cfcfcf;
}

.nft-table th {
  background-color: #2c2c3e;
}
